*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/* Null */

body {
    font-family: 'Poppins', sans-serif;
    color: #415161;
}

.container {
    max-width: 1200px;

    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

// TITLE
.title {
    width: 100%;

    padding: 20px 0;

    font-size: 34px;
    font-weight: bold;

    text-align: center;
    align-items: center;

    color: #415161;
    opacity: .9;
}

.title-upperline:after {
    content: "";
    display: block;
    background-color: #004990;

    margin: 38px auto 0;

    width: 84px;
    height: 3px;
}

.color-black {
    color: #000;
}
// TITLE

// BLOCK
.block {
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 30px;

    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.07);
    border-radius: 15px;
}

.bold {
    font-weight: 700;
}
// BLOCK

// BUTTON
.button {
    color: #fff;

    background-color: #004990;
    border-radius: 5px;
}
// BUTTON

// FORM //
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 10px;
    width: 100%;

    &-input {
        width: 100%;
        height: 46px;

        padding: 11px;
        margin: 10px 0;

        background-color: #fafafa;
        border: 1px solid #eaeaea;
        border-radius: 5px;
    }

    &-input::placeholder {
        font-size: 14px;
        font-weight: 500;
        opacity: .7;
    }

    &-input:focus {
        border: 2px solid #111;
    }

    &-message {
        height: 120px;
    }

    &-message::placeholder {
        text-align: start;
        display: flex;
        vertical-align: text-top;
    }

    &-message:focus {
        border: 2px solid #111;
    }

    &-button {
        width: 190px;
        height: 41px;

        margin-top: 10px;
    }
}
// FORM //

.content-text {
    font-size: 15px;
    color: #415161;

    text-align: center;

    margin-bottom: 44px;
}

.line {
    width: 100%;

}

// Home
.home {
    width: 100%;

    background-color: #fff;

    margin-bottom: 80px;

    &-content {
        width: 672px;

        margin: auto;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
    }
}

.header {
    width: 100%;
    height: 75px;

    padding: 25px 0 5px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 160px;
    height: 75px;

    padding: 10px;
}

.lang-change {
    font-size: 20px;

    font-weight: bold;
    color: #415161;
}

.checker {
    width: 100%;
    height: 52px;

    display: flex;
    justify-content: space-between;

    &-input {
        width: 502px;
        height: 47px;

        padding: 6px 16px;

        letter-spacing: 5px;
        color: #004990;
        font-weight: 700;
        font-size: 16px;

        border: 2px solid #004990;
        border-radius: 5px;
    }

    &-input::placeholder {
        color: #004990;
        font-size: 15px;
        font-weight: 400;
        opacity: .6;

        letter-spacing: normal;
    }

    &-button {
        width: 160px;
        height: 47px;

        font-size: 17px;
        font-weight: 700;
    }
}

.brands {
    width: 100%;

    margin-top: 40px;

    display: flex;
    justify-content: space-between;

    &-logo {
        width: 228px;

        display: flex;
        align-items: center;
    }

    &-img {
        width: 114px;

        margin: 0 auto 0 auto;

        filter: brightness( 100% ) contrast( 100% ) saturate( 0% ) blur( 0px ) hue-rotate( 0deg );
        opacity: .5;
    }
}


// PURCHASE 
.purchase {
    width: 100%;

    margin: 60px 0;

    &-container {
        width: 1140px;

        margin: auto;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        align-items: center;

        margin-bottom: 60px;
    }

    &-sequence {
        display: flex;
        justify-content: space-between;

        margin-top: 45px;
        margin-bottom: 120px;
    }
}

.sequence {
    &-block {
        width: 310px;
        height: 275px;

        margin: 15px;

        transition: .2s linear;

        &-icon {
            width: 100%;
            height: 60px;

            display: flex;
            justify-content: flex-start;

            margin-bottom: 30px;
        }

        &-title {
            font-size: 15px;
            font-weight: 600;
            color: #415161;

            margin-bottom: 35px;
        }

        &-text {
            font-size: 14px;
            color: #555;
            margin-bottom: 40px;
        }

        &-stage {
            width: 100%;
            height: 60px;

            display: flex;
            justify-content: flex-end;
        }
    }

    &-block:hover {
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.07);
    }
}

.icon-img {
    width: 50px;
    height: 50px;

    border-radius: 5px;
}

.pay-img {
    width: 57px;
    height: 50px;

    border-radius: 5px;

    margin-right: 15px;

    background-color: #004990;

    padding: 0 2px;
}

.stage-img {
    max-width: 30px;
    max-height: 30px;
}

.purchase-button {
     width: 177px;
     height: 41px;

     padding: 13px 40px;

     font-size: 15px;
     font-weight: 500;

     transition: .2s linear;

     cursor: pointer;
}

.purchase-button:hover {
    background-color: #ff3f26;
}


// DETAILS
.details {
    background-color: #f8fafb;

    &-container {
        max-width: 1140px;

        padding-bottom: 70px;
    }

    &-title {
        font-size: 30px;

        margin-top: 90px;
    }

    &-subtitle {
        margin: 40px 0 20px 0;

        font-size: 20px;
        font-weight: 600;

        opacity: .8;

        color: #415161;

        text-align: center;
    }

    &-buttons {
        display: flex;
        justify-content: space-around;

        margin-bottom: 10px;
    }

    &-button {
        width: 235px;
        height: 41px;

        font-size: 15px;
        font-weight: 500;

        padding: 13px 0;

        text-align: center;

        transition: .2s linear;

        cursor: pointer;
    }

    &-button:hover {
        background-color: #ff3f26;
    }

    &-blocks-line {
        display: flex;
        justify-content: space-between;
    }

    &-upperblock {
        margin: 10px;
        padding: 30px;

        width: 265px;
        height: 170px;
    }

    &-underblock {
        margin: 10px;
        padding: 30px;

        width: 360px;
        height: 170px;
    }

    &-block-img {
        width: 50px;
        height: 50px;
    }

    &-block-title {
        margin-top: 30px;

        font-size: 20px;
        font-weight: 500;

        color: #415161;
    }
}

// OFFERS //
.offers {
    width: 100%;
    margin: 50px 0 70px 0;

    &-container {
        max-width: 1140px;
    }

    &-blocks-line {
        width: 100%;

        margin-top: 50px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.offer {
    &-block {
        width: 350px;
        height: 450px;

        padding: 40px 20px;
    }

    &-title {
        font-size: 24px;

        color: #555;
        opacity: .8;

        margin-bottom: 45px;
    }

    &-price {
        font-size: 46px;
        color: #000;

        margin-bottom: 40px;

        &-unit {
            font-size: 14px;
            color: #004990;
        }
    }

    &-price::after {
        content: '';
        display: block;

        background-color: #555;
        opacity: .2;

        height: 1px;
        width: 100%;

        margin-top: 50px;
    }

    &-info {
        margin-bottom: 50px;

        &-text {
            font-size: 16px;
            color: #555;
            opacity: .6;

            padding-bottom: 8px;
        }

        &-text:last-child {
            padding-bottom: 0px;
        }
    }

    &-button {
        width: 140px;
        height: 50px;

        border-radius: 50px;

        background-color: #2083fe1a;

        font-size: 15px;
        color: #004990;

        transition: .2s linear;
    }

    &-button:hover {
        background-color: #004990;
        color: #fff;

        transform: translateY(-3px);
    }
}

.popular {
    &-tape {
        position: absolute;
        right: -40px;
        top: 25px;

        transform: rotate(45deg);

        width: 161px;
        height: 28px;

        font-size: 16px;
        padding: 6px;

        text-align: center;

        background-color: #fff;
        color: #004990;
    }

    &-block {
        position: relative;
        background-color: #004990;
    }

    &-title {
        color: #fff;
    }

    &-price { 
        color: #fff;

        &-unit {
            color: #fff;
        }
    }

    &-price::after {
        background-color: #fff;
    }

    &-info-text {
        color: #fff;
    }

    &-button {
        background-color: #fff;
    }

    &-button:hover {
        background-color: #fff;
        color: #004990;

        transform: translateY(-3px);
    }
}
// OFFERS //

// REVIEWS 
.reviews {
    width: 100%;

    margin-bottom: 35px;

    &-container {
        max-width: 1140px;

        position: relative;
    }

    &-blocks-line {
        display: flex;
        justify-content: space-between;

        margin-top: 65px;
    }

    &-block {
        width: 350px;
        height: 205px;

        margin: 15px;
        padding: 30px;

        justify-content: space-between;
        align-items: flex-start;

        &-comment {
            font-size: 15px;

            margin-bottom: 20px;
        }

        &-rating {
            font-size: 22px;
            font-weight: 700;
            color: #004990;

            letter-spacing: 2px;

            text-align: left;

            margin-bottom: 30px;
        }

        &-author {
            font-size: 15px;
            font-weight: 700;
        }
    }
}

.guarantee {
    position: absolute;
    left: 0;

    width: 150px;
    height: 150px;
}

.award {
    position: absolute;
    top: 10px;
    right: 0;

    width: 265px;
    height: 105px;
}

// CONTACTS
.contacts {
    width: 100%;

    margin-top: 20px;

    &-container {
        max-width: 1140px;
    }
}